<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoalRush</title>
    <link rel="stylesheet" href="public/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <header class = "header">
        <nav> 
            {{ include('navigation.html.twig') }}   
        </nav>
    </header>
    <main class="main">
        <div class="pageTitle" class="mb-4">
            <h2>Blog </h2>
            <h3> Articles for {{ leagueName }} <img id='leagueCrest' src="{{ leagueCrest }}" alt="{{ leagueName }} logo"></h3>
            <p>Browse through the latest articles and updates about the {{ leagueName}}.</p>
        </div>
        <div id="blog-articles-navigation">
            <a href="/blog.php" class="btn btn-primary mb-3">Back to Blog Home</a>  
            <div class="blog-articles-navigation" id="addPostButton">
                <form action="blogArticles.php?league={{ leagueCode }}" method="get" class="d-inline">
                    <input type="hidden" name="league" value="{{ leagueCode }}">
                </form>
             <a href="createPost.php?league={{leagueCode}}" class="btn btn-success mb-3">Add New Post</a>
            </div>
        </div>
        <div class ="articleMain">
            {% if posts is empty %}
                <div class= 'empty'>
                    <p>No posts for this league yet.</p>
                </div>
            {% else %}
                {% for post in posts %}
                <a class="link-section-blog" href="fullArticle.php?articleId={{post.id}}">
                    <div class="row g-0 post">
                        <div class = "col sml-6 postContent">
                            <img class = "articleImage"src="{{post.image_path }}" alt="{{post.title }}">
                        </div>
                        <div class = "col sml-6 postContent">
                            {% if post.image_path %}
                                <h2>{{ post.title }}</h2> 
                            {% endif %}
                        </div>
                    </div>
                </a>
                {% endfor %}
            {% endif %}
        </div>
    </main>
    
    <footer class = "footer">
        <p>Copyright © 2025</p>
    </footer>
</body>
</html>