<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post - GoalRush</title>
    <link rel="stylesheet" href="public/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/autosize@4.0.2/dist/autosize.min.js"></script>
</head>
<body>

<header class="header">
    <nav>
        {{ include('navigation.html.twig') }}
    </nav>
</header>

<main class="main">
    <div class="CreatePostForm">
        <a href="/blogArticles.php?league={{ leagueCode }}" class="btn btn-primary mb-3">Back to {{leagueName}} Blog</a>  
        <h1>Create New Post for {{leagueName}}</h1>
        <form action="createPost.php" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label>Title</label>
                <input type="text" name="title" class="form-control" required>
            </div>
            <div class="mb-3">
                <label>Content</label>
                <textarea name="content" id="autoTextarea"  class="form-control" required></textarea>
            </div>
            <div class="mb-3">
                <label>Image</label>
                <input type="file" name="image" class="form-control" accept="image/*">
            </div>
            <input type="hidden" name="league" value="{{ leagueCode }}">
            <button type="submit" class="btn btn-success">Save Post</button>
        </form>
    </div>
</main>

<footer class="footer">
    <p>Copyright © 2025</p>
</footer>
<script>
  // Initialize autosize on the textarea
  autosize(document.getElementById('autoTextarea'));
</script>

</body>
</html>