<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoalRush</title>
    <link rel="stylesheet" href="public/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <header class = "header">
        <nav> 
            {{ include('navigation.html.twig') }}     
        </nav>
    </header>
    <main class="main">
        <a href="/blog.php" class="btn btn-primary mb-3">Back to Blog Home</a>  
        <h1>{{ form_title }}</h1>
        <form method="post">
            <div class="mb-3">
                <label>Title</label>
                <input type="text" name="title" class="form-control" value="{{ post.title|default('') }}" required>
            </div>
            <div class="mb-3">
                <label>Content</label>
                <textarea name="content" class="form-control" required>{{ post.content|default('') }}</textarea>
            </div>
            <div class="mb-3">
                <label>Author</label>
                <input type="text" name="author" class="form-control" value="{{ post.author|default('') }}" required>
            </div>
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </main>
    
    <footer class = "footer">
        <p>Copyright © 2025</p>
    </footer>
</body>
</html>