<!DOCTYPE html>
<html lang="en">
  {{ include('header.html.twig') }}
  <body>
    <header class="header">
        <nav>
            <!-- Include navigation template -->
            {{ include('navigation.html.twig') }}
        </nav>
    </header>
    <main class='main'>
      <div class="container mt-5" id="registrationContainer">
        <form class="signinform" method="POST" action="login.php">
          <div class=" userFill row g-0">
            {# login form on the left Column bottom on mobile #}
            <div class="col-md-6 order-md-1 order-2" id="registrationForm">
              <h1>Login</h1>
              <input type="email" id="inputEmail" name="emailLogin" class="form-control mb-3" placeholder="Email @example.com">
              <input type="password" id="inputPassword" class="form-control mb-2 toggle-password" name="passwordLogin" placeholder="Password" /> 
              {# Show and hide password button #}
              <button type="button" id='loginShowPasswordButton' class="loginButtons toggle-password-btn" data-target="inputPassword">
              Show Password
              </button>
              {# CAPTCHA Image and Input #}
              <img src="/captcha.php" alt="CAPTCHA Image">
              <input type="text" class="form-control mt-2" name="captcha_input" placeholder="Enter CAPTCHA" required>
              {# Login button #}
              <button class="loginButtons mt-3" type="submit">Login</button>
            </div>
              {# welcome div on the right and in bottom in mobile #}
            <div class="col-md-6 order-md-2 order-1">
              <div class="WelcomeContainer p-3">
                <h1>Welcome Back!</h1>
                <p>Enter your Email and Password to access your account</p>
                <p>OR</p>
                <p>Press Sign In to register</p>
                <a href="/register.php">
                    <button class="loginButtons mt-2" type="button">Register</button>
                </a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </main>
    <footer class = "footer mt-4">
      <p>Copyright © 2025</p>
    </footer>

        {% include 'modal.html.twig' %}

        {# Scripts #}
        <script>
            window.status = '{{ status|default('')|e('js') }}';
            window.username = '{{ username|default('')|e('js') }}';
            window.context = '{{ context|default('')|e('js') }}';
        </script>
        <script src="public/js/modal.js"></script>
        <script src="public/js/login.js"></script>
        {% include 'searchScript.html.twig' %}
    </body>
</html>