<!DOCTYPE html>
<html lang="en">
    {{ include('header.html.twig') }}
    <body>

        <header class="header">
            <nav>
                {# Include navigation template #}
                {{ include('navigation.html.twig') }}
            </nav>
        </header>
        {# Registraion #}
        <div class="container mt-5" id="registrationContainer">
            <form class="signinform" method="POST" action="/register.php">
                <div class=" userFill row g-0">
                    {# Registration div on left and on bottom in mobile #}
                    <div class="col-md-6 order-md-1 order-2" id="registrationForm">
                        <h1>Register</h1>
                        {# Personal info #}
                        <input type="text" id="firstName" name="name" class="form-control mb-3" placeholder="First name" required>
                        <input type="text" id="lastName" name="surname" class="form-control mb-3" placeholder="Last name" required>
                        <input type="email" id="email" name="email" class="form-control mb-3" placeholder="Email @example.com" required>
                        <label for="dateOfBirth" class="form-label">Date of Birth</label>
                        {# Date of Birth between 10 and 110 #}
                        <input type="date" id="dateOfBirth" name="dateOfBirth" class="form-control mb-3" required  max="{{ maxDate }}" min="{{ minDate }}">
                        {# League selection dropdown #}
                        <select class="form-select mb-3" name="league" required>
                            <option selected disabled value="">Choose your league...</option>
                            <option value="English Premier League">English Premier League</option>
                            <option value="LaLiga Spain">LaLiga Spain</option>
                            <option value="Serie A Italy">Serie A Italy</option>
                            <option value="Bundesliga Germany">Bundesliga Germany</option>
                            <option value="Ligue 1 France">Ligue 1 France</option>
                        </select>
                        {# Password and confirm password #}
                        <input type="password" id="inputPassword" class="form-control register-password mb-2" name="passwordLogin" placeholder="Password (min 6 characters)" minlength="6" required>
                        <input type="password" id="inputConfirmPassword" class="form-control register-password mb-2" name="confirm_password" placeholder="Confirm Password (min 6 characters)" minlength="6" required>
                        {# Show and hide password button #}
                        <button type="button" class="loginButtons mb-3" id="toggleAllPasswords">Show Password</button>
                        {# CAPTCHA #}
                        <div class="g-recaptcha" data-sitekey="{{ site_key }}" data-theme="dark"></div>
                        {# Submit button #}
                        <button type="submit" class="loginButtons mb-3">Register</button>
                    </div>
                    {# Welcome column on the right and on top in mobile #}
                    <div class="col-md-6 order-md-2 order-1">
                        <div class="WelcomeContainer p-3">
                            <h1>Welcome!</h1>
                            <p>Enter your personal details to create an account below</p>
                            <p>OR</p>
                            <p>Press Login to access your account</p>
                            <a href="/login.php">
                                <button class="loginButtons mt-2" type="button">Login</button>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        {# Footer Section #}
        <footer class = "footer">
        <p>Copyright © 2025</p>
        </footer>
         {# Include modal for registration#}
        {% include 'modal.html.twig' %}

        {# Scripts #}
        <script>
        {# Pass variables to JS for modal handlin #}
            window.status = '{{ status|default('')|e('js') }}';
            window.username = '{{ username|default('')|e('js') }}';
            window.context = '{{ context|default('')|e('js') }}';
        </script>
        {# JS scripts for modals and form #}
        <script src="js/modal.js"></script>
        <script src="js/register.js"></script>
        {# for captcha #}
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        {# Include search script template #}
        {% include 'searchScript.html.twig' %}
    </body>
</html>